* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}
.container {
    margin: 0 auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: sticky;
    width: 100%;
    top: 0px;
    font-size: 24px;
}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li {
    padding: 0px 20px;
}

.navbar nav ul a {
    color: black;
    font-size: 18px;
}

.navbar nav ul a:hover {
    border-bottom: 4px solid #203239;
    border-radius: 4px;
    padding-bottom: 15px;
}

.cart-body{
    margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
   .cart-container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }

   .cart-header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .cart-title{
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
   }
   .action{
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }

   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #909090;
   }

   .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .count{
    font-size: 20px;
    font-weight: 900;
    color: #202020;
   }

   .prices{
    height: 100%;
    text-align: right;
   }
   .amount{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 800;
    color: #202020;
   }
   .save{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
   }
   .remove{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
   }

   hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
   .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
   }
   .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
   .Subtotal{
    font-size: 22px;
    font-weight: 700;
    color: #202020;
   }
   .items{
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .total-amount{
    font-size: 36px;
    font-weight: 900;
    color: #202020;
   }
   .button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #202020;
   }

   footer {
    margin-top: 150px;
    padding: 20px 0px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#drawer {
    color: white;
    background-color: #203239;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    transform: translate(-13000px);
}

#drawer a {
    color: white;
}

#drawer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drawer ul li {
    padding: 20px;
}

#drawer #close {
    display: unset;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
}

#menu {
    padding-right: 20px;
    display: none;
}

#drawer.open {
    transform: translate(0, 0);
}


@media only screen and (max-width : 780px) {
    header {
        justify-content: space-between;
    }
    #menu {
        display: block;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .navbar {
        justify-content: left;
    }

    header nav {
        display: none;
    }
    
    .container{
        min-width: 480px;
        max-width: 768px;
        margin: 0 auto;
    }
}