* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: sticky;
    width: 100%;
    top: 0px;
}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li {
    padding: 0px 20px;
}

.navbar nav ul a {
    color: black;
    font-size: 18px;
}

.navbar nav ul a:hover {
    border-bottom: 4px solid #203239;
    border-radius: 4px;
    padding-bottom: 15px;
}

.hero{
    border-radius: 8px;
    background-image: linear-gradient( #146356, white);
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.hero img{
    width: 100%;
}

.hero p{
    font-size: 18px;
    text-align: start;
}

.btn{
    padding: 4px 10px ;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.btn:hover{
    border-bottom: 4px solid white;
    /* background-color: #1a554b; */
}

footer {
    margin-top: 150px;
    padding: 20px 0px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.container-title h1{
    display: flex;
    width: 15%;
    border-bottom: 3px solid black;
    color: black;
    justify-content: center;
    margin: 0 auto;
}

.container-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
    justify-content: space-evenly;
}

.container-card>* {
    flex: 0 0 160px;
  }

.container-card a{
    font-size: 16px;
    color:black
}

.container-card p{
    font-size: 12px;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    background-color: white;
    box-shadow:  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.description{
    padding: 10px 20px 20px 20px;
}

.card img{
    width: 100%;
    overflow: hidden;
}

#drawer {
    color: white;
    background-color: #203239;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    transform: translate(-13000px);
}

#drawer a {
    color: white;
}

#drawer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drawer ul li {
    padding: 20px;
}

#drawer #close {
    display: unset;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
}

#menu {
    padding-right: 20px;
    display: none;
}

#drawer.open {
    transform: translate(0, 0);
}


@media only screen and (max-width : 780px) {
    header {
        justify-content: space-between;
    }
    #menu {
        display: block;
    }

    header {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    header .navbar {
        justify-content: left;
    }

    header nav {
        display: none;
    }
    
    .container{
        min-width: 480px;
        max-width: 768px;
        margin: 0 auto;
    }
}